;;rename it to env.edn and change data
{:pix-key "pix-email@gmail.com"
 :total-value 34.90
 :debug true
 :smtp {:host "smtp.gmail.com"
        :port 587
        :username "username@gmail.com"
        :password "passwordhere"
        :subject "Pague o Youtube Premium {{name}}"
        :from "username@gmail.com"}
 :payers [{:name "Ronaldinho"
           :email "ronaldinho@gmail.com"
           :shares 2}
          {:name "Pelé"
           :email "pele@gmail.com"
           :shares 2}          
          {:name "lelele"
           :email "lelele@gmail.com"
           :shares 1}]}
